/*--- 
    html
 ---*/
html {
    font-size: 100%; /* 高橋20230107 変更 */ 

    /* 行間の高さ */
    line-height: 1.5;
    /* 色 */
    color: #000;
    background:#fff;/* 高橋20230107 変更 */
}


/*---
    header
---*/
header{
    /* 文字色 */
    color:#000;
    /* 背景色 */
    /*background:#fff; /* 高橋20230107 変更 */
    
}

/* 権限「システム管理者」の背景 */
.SysAdmin {
  background-color: #6b7280;
  color: #fff;
}

.uk-navbar, .breadcrumb {
    padding: .3rem 2rem;
}

/* ナビゲーションバー */

.bg-navbar1 { 
    background-color: rgba(62, 190, 36, 0.5); 
    border-bottom: #8ACC58 0.5px solid;   
    backdrop-filter: blur(4px);
}

.bg-navbar2 { 
    background-color: rgba(107, 173, 129, 0.7);
    border-bottom: #8ACC58 0.5px solid;   
    backdrop-filter: blur(4px);
}

.bg-navbar3 {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}


    /* ロゴ */
    .uk-logo {
        font-size: 2.23125rem;
        color:#22663f;
    }
    .uk-logo:hover {
        color:#4e9c70;
    }
        @media screen and (max-width: 460px){
            .uk-logo {font-size: 1.8rem;}
            } 


    /*サイトリンク*/
        /* Nav items */
        .uk-navbar-nav > li > a {
            padding: 0 0px;
            color: #444;
        }
        /* Hover */
        .uk-navbar-nav > li:hover > a,
        .uk-navbar-nav > li > a[aria-expanded="true"] {
            color: #666;
        }
        /* OnClick */
        .uk-navbar-nav > li > a:active {
            color: #333;
        }
        /* Active */
        .uk-navbar-nav > li.uk-active > a {
            color: #333;
        }



/* パンくず */
.breadcrumb {
    background-color: rgba(255,255,255,0.95);
    border-bottom: #8ACC58 0.5px solid;
    backdrop-filter: blur(4px);


    flex: 1;
    min-width: 1px;
    box-sizing: border-box;
    display: flow-root;

    margin-left: auto;
    margin-right: auto;
    margin-top : 0;
    margin-bottom: 0;
}




/*---
    footer
---*/
/* footer {
    backdrop-filter: blur(2px);
} */


/** 固定フッター 高橋20221212 */
@media (max-width: 959px){
    main{
        /* ✅固定フッターを入れた分上下のmarginを調整 */
        margin-top:-100px !important;
        margin-bottom:100px;
    }
    
    /*--- TabNavigation ---*/
        .TabNavigation{
        background-color:#fff;
        /* backdrop-filter: blur(4px); */
        border-top:#2e8b57 solid 1px;
        }

        .TabNav_link{
        height:100px;
        padding:20px;
        text-align:center;
        }
        .TabNav_link > i {
        display:block;
        }
        .TabNav_link > span {
        font-size:0.9rem;
        }

}


/*--- footer_btn ---*/

.adm-menu{
    display: inline;
}


.adm-btn, .adm-btn:focus{
    text-align: center;
    margin-bottom:10px;

}

.to-top, .to-top:focus {
    padding: 15px;
    border-radius: 50%
    ;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;

    margin-bottom:10px;
}

    /* トップへ戻るボタン */
    .to-top,
    .to-top:focus {
        color:#fff;
        background-color: #4e9c70;
        border: 2px solid #4e9c70;
        /*コレ*/margin-right:10px;
        /* ★ */position: absolute;
        /*コレ*/right: 0;
        /*コレ*/bottom: 0;
    }
    .to-top:hover {
        color:#4e9c70;
        padding: 15px;
        background-color: #fff;
        border: 2px solid #4e9c70;
    }


    /* 詳細 - 管理者）ボタン */
    .adm-menu,
    .adm-menu:focus {
        /* color:#fff; ✅*/
        /* background-color: #4e9c70; /*✅*/
        /* border: 2px solid #4e9c70; /*✅*/

        /*コレ*/ margin-left:10px;
        /* ★ */ position: absolute;
        /*コレ*/left: 0;
        /*コレ*/bottom: 0;
    }







/*---
    body
 ---*/
body{
    /* 文字色 */
    color:#000;
    /* 背景色 */
    background:#fff; /* 高橋20230107 変更 */
    
}

main{
    /* ✅上下余白 
        高橋20230107 変更 */
    margin-top:30px;
    margin-bottom:100px;
}

/* 医療機関詳細・変更・新規
    各タブ中身 セクション*/
.detail-section {
    /* セクション間余白 */

    margin-bottom :-50px;
}

.detail-section {
    /* ✅ページ内リンク ジャンプ後のずれを調整
        高橋20230107 */
    display: block;
    padding-top: 110px;
    margin-top: -100px;  
    padding-bottom: 0px;  
}



/*--- Link ---*/
    a,
    .uk-link {
    color:#22663f;
    /* 下線・点線を消す */
    text-decoration: none;
    /* カーソルの種類 */
    cursor: pointer;
    }

    a:hover,
    .uk-link:hover,
    .uk-link-toggle:hover,
    a:focus,
    .uk-link:focus,
    .uk-link-toggle:focus,
    a:active,
    .uk-link:active,
    .uk-link-toggle:active {
        color:#5ca47c;
        outline:none;
        text-decoration:none;
    }
    



/* Muted
 ========================================================================== */
 a.uk-link-muted,
 .uk-link-muted a,
 .uk-link-toggle .uk-link-muted {
   color: #888;
 }
 a.uk-link-muted:hover,
 .uk-link-muted a:hover,
 .uk-link-toggle:hover .uk-link-muted {
   color: #555;
 }

 /* Text
  ========================================================================== */
 a.uk-link-text,
 .uk-link-text a,
 .uk-link-toggle .uk-link-text {
   color: inherit;
 }
 a.uk-link-text:hover,
 .uk-link-text a:hover,
 .uk-link-toggle:hover .uk-link-text {
   color: #777;
 }
 /* Heading */
 a.uk-link-heading,
 .uk-link-heading a,
 .uk-link-toggle .uk-link-heading {
   color: inherit;
 }
 a.uk-link-heading:hover,
 .uk-link-heading a:hover,
 .uk-link-toggle:hover .uk-link-heading {
   color: #22663f;
   text-decoration: none;
 }





/* << result_view >> 詳細画面Link */
 @media screen {
    /**--- IconButton ---*/
    .uk-icon-button {
        background: #fff;
        color: #5ca47c;
      }
      /* Hover */
      .uk-icon-button:hover {
        background-color: #fff;
        color: #22663f;
      }
      /* OnClick + Active */
      .uk-icon-button:active,
      .uk-active > .uk-icon-button {
        background-color: #fff;
        color: #22663f;
      }
    
      /**--- Text ---*/
      .link {
        color:#000;
        position: relative;
        display: inline-block;
        text-decoration: none;
      }
      .link:hover {
        color:#22663f;
      }
      .link::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #22663f;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }
      .link:hover::after {
        transform: scale(1, 1);
      }
    
    }





/*<< result_view >> 検索条件　アコーディオン*/
    /* Title */
    .uk-accordion-title {
        display: block;
        font-size: 1rem;
        line-height: 1.4;
        color: #22663f;
        overflow: hidden;
    }
    .uk-accordion-title::before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-right: 10px;
        float: left;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    /* Hover */
    .uk-accordion-title:hover {
        color: #2e8b57;
        text-decoration: none;
    }

    .accordion {
    border:#5ca47c 2.5px solid;
    padding:0.6rem;
    background-color:#5ca47c4f;
    border-radius: 25px;
        /* 文字 */
        color:#000;
    }
        
    .uk-input::placeholder {
        color: #aaa;
    }

    
    ul{ margin: 0 0 10px 0; }
    * + ul { margin-top: 10px; }
    
/*
    ul{ margin: 0; }
    * + ul { margin-top: 0px; }
*/












/*---
    Headings
---*/
 h1,
 .uk-h1,
 h2,
 .uk-h2,
 h3,
 .uk-h3,
 h4,
 .uk-h4,
 h5,
 .uk-h5,
 h6,
 .uk-h6,
 .uk-heading-small,
 .uk-heading-medium,
 .uk-heading-large,
 .uk-heading-xlarge,
 .uk-heading-2xlarge {
   color: #000;
   text-transform: none;
 }



/*--- page title ---*/
.uk-card-header > h2 {
   margin: 0; 
}

.uk-card-header .uk-heading-primary,
.uk-card-header h2,
.uk-card-header {
    /* ページヘッダー（タイトル）の文字設定 */
    color :#71b490;
    text-align: left;
}

.uk-alert-danger > .uk-card-header h2,
.uk-alert-danger > .uk-card-header {
    /* ページヘッダー（タイトル）の文字設定 */
    color :#f0506e;
    text-align: left;
}


    /*ページヘッダー（タイトル）*/
    .uk-card-header { 
        margin-bottom: 40px;
    }
        /*下線*/
        .border-header {
            border-bottom:3px solid #008009;
        }

    /*ページフッター *オリジナル*/
    .uk-card-footer {
        margin-top: 40px;
    }
        /*上線*/
        .border-footer {
            border-top:3px solid #008009; 
        }

.uk-card-header h1,
.uk-card-header h3{
    color:#000;
    white-space: nowrap;
}

.uk-card-header span{
    color:#000;
    white-space: wrap;
}

.uk-card-header p {
    margin-left : 3rem;
}


/*--- section title ---*/
.detail-section h4 {
    padding:.3em .8rem;

    color: #000;
    background: #EFFFE8; /* 薄い黄みの緑 */
    /*background:#fff; /* 白 */

    border-radius: 1px;
    border-left: solid 10px #8ACC58;
}

.section {
    padding: 8px 19px;
    margin: 0;
    color: #2c2c2f;
    background: #E4FFCC;
    border-top: solid 5px #88CF59;
    border-bottom: solid 5px #88CF59;
}
    .section p {
        margin: 0; 
        padding: 0;
    }




/*--- page heading ---*/
.uk-legend{
    color:#22663f;
}


/*--- horizontal rule ---*/
hr,
.uk-hr,
.uk-card-default .uk-card-header {
    /*水平方向罫線のスタイル変更*/
    border:none;
    border-bottom:2px solid #6bad81;   
}



/*--- uk-button ---*/

/* 
primary
1番主要なボタンはこれ
*/
.uk-button-primary{
    background-color:#2e8b57;
    color:#fff;
    border:1px solid transparent;
}
.uk-button-primary:hover{
    background-color:#43cc7f;color:#fff
}
.uk-button-primary.uk-active,.uk-button-primary:active{
    background-color:#22663f;color:#fff
    }


/* 
secondary
2番目に主要なボタンはこれ
*/
.uk-button-secondary{
    background-color:#7ab18c;
    color:#fff;
    border:1px solid transparent;
}
.uk-button-secondary:hover{
    background-color:rgb(88, 199, 136);color:#fff
}
.uk-button-secondary.uk-active,.uk-button-secondary:active{
    background-color:#22663f;color:#fff
    }


/* 
    default
*/
.uk-button-default {
    background-color:#fff;
    color:#22663f; 
    border:1px solid transparent;
}




/*--- UIkit3 formパーツ設定カスタマイズ ---*/
.uk-input,
.uk-select,
.uk-textarea {
  background: #fff;
  color: #333;
  border: 1.5px solid #666;
}

    /* Focus */
    .uk-input:focus,
    .uk-select:focus,
    .uk-textarea:focus {
    outline: none;
    background-color: #EFFFE8;
    color: #000;
    border-color: #22663f;
    }


    /*角丸く；30px*/
    .uk-input,
    .uk-select{
        border-radius: 30px;
    }

    /*角丸く；2px*/
    .uk-checkbox,
    .uk-textarea {
        border-radius: 2px;
    }


  
/*櫻間*/
    /* エラーメッセージのスタイル */
    .error {
        width : auto;
        padding: 0px;
        display: inline-block;
        font-size: 90%;
        color: red;
        box-sizing: border-box;
      }
  /*櫻間*/
  

/* contact_input_view.php */
/* 20241110 加藤 */
/* 利用者画面 */

.ci_body{
margin: 0 auto;
max-width: 1000px;
}

.c_image-input{
font-size: 15px;

}

.uk-con-textarea{
width: 45em;
padding :10px;
font-size: 20px;
}

.openmodalbutton{
text-align: right !important;
}

/* ロード画面のスタイル */
#loadingOverlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.8);
z-index: 9999;
text-align: center;
padding-top: 200px;
}

.spinner {
border: 16px solid #f3f3f3;
border-top: 16px solid #3498db;
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
margin: 0 auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.modal-content {
padding: 20px;
}
.toggle-button {
display: flex;
align-items: center;
}
.toggle-button input {
display: none;
}
.toggle-button label {
background-color: #ddd;
border-radius: 20px;
cursor: pointer;
padding: 10px 20px;
margin: 0 5px;
transition: background-color 0.3s;
}
.toggle-button input:checked + label {
background-color: #2E8B57;
color: white;
}

.emerg-icon {
color: #f00;
font-size: 1.5rem;
margin-right: 5px;
}

/* －－－－－ 管理者画面 －－－－－ */
/* 20241114　加藤 */
/* 画面幅の設定 */
.set-width {
width: 90%;
max-width: 1200px;
margin: 0 auto;
}

/* 文字の中央揃え */
.text-center {
text-align: center !important;
}

/* filter用チェック項目 */
.filter-check{
    text-align: center !important;
}
/*  */
#filterUrgent,#filterNormal{
    display: none;
}

/* チェックが入った場合のラベルの背景色変更 */
#filterUrgent:checked + label {
    background-color: #d4edda; /* 緊急用の背景色 */
    color: #155724; /* 緊急用の文字色 */
    border-radius: 5px;
    padding: 5px;
}

#filterNormal:checked + label {
    background-color: #d4edda; /* 通常用の背景色 */
    color: #155724; /* 通常用の文字色 */
    border-radius: 5px;
    padding: 5px;
}

/* th,td 幅固定 */
/* 依頼日 */
.content_th{
width: 1000em;
}
.odate_mgmt{
width:15em;
}
.odate{
width: 100em;
}
/* 緊急表示 */
.td_width{
width: 0.3em;
}
/* 対応可否 */
.advisab_status{
width: 5em;
}
/* 詳細ボタン */
.mbutton_td{
width: 7em;
}
/* 依頼内容　文字列制限 */
.content_td{
width:20em;
}
/*  */
.his_mbutton_td{
width: 200em;
}

/* 詳細ボタン */
/* デザイン */
.uk-button-details{
background: #2E8B57; 
color: #ffffff; 
border-radius: 50vh; 
padding: 1em 2em 0.8em; 
line-height:1; 
display: inline-block;
}

.tabhead tbody {
overflow-x: hidden;
overflow-y: scroll;
height: 100px;
}

/* モーダル内 */

/* 文字サイズ設定 */
.modal-font-size{
font-size: 18px;
}

/* 上下左右幅調整 */
.width_adjust-margin{
margin:20px 18px;
}

/* 左右幅調整 */
.width_adjustment{
margin:0 18px;
}

/* 可否・状況 文字サイズ */
.ad-stfont-size{
font-size: 20px;
}

/* 注意書き */
.color-posision{
color: red;
font-size: 15px;
}

/* プレビュー画像*/
.img_csize{
width: 80%;
cursor: pointer;
}

/* 画像下の幅調整 */
.img_bottom{
margin-bottom: 20px;
}

.content-label{
font-size: 23px;
border-bottom:1px solid #6bad81; 
}

.uk_margin{
margin: 10px;
}

/* モーダル背景色 */
.modal_background{
background-color: #eef8eefa;
padding-top: 1em;
padding-bottom: 0.5em;
}

.toggle-bottom{
margin-bottom: 10px;
}
    


/* font-weight */
.uk-card-header h2, .uk-card-header { font-weight: 800; }

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3,
h4, .uk-h4, h5, .uk-h5, h6, .uk-h6,
.uk-heading-small, .uk-heading-medium,
.uk-heading-large, .uk-heading-xlarge,
.uk-heading-2xlarge {
    font-weight: 700;
}

html, body, div, div > * { 
    font-weight: 600;
}
header, .uk-logo { font-weight: 500; }

html > * , body > *, div > * {
    /* サイト全体のフォント指定 */
    font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "メイリオ", "MS Pゴシック", sans-serif ;
}